/*  CSS FILE  */
.mainWrapper{
	min-height: 800px;
}
.header{
	min-height:150px;
	text-align: center;
	font-weight: bold;
	color:blue;
	font-size: 20px;
}

.borders{
	border:1px solid #000;
}
.siteBody{
	min-height: 650px;
}

.bodyContainers{
	padding-left:0px;
	padding-top: 20px;
	min-height:400px;
}

.innerContainers{
	min-height:600px;
}
.headers{
	height:150px;
}
.myNav{
	padding-top: 50px;
	padding-left: 50px;
}

.gallery{
	margin: 20px;
	border:0px dashed black;
	height:150px;
}




























